@import "tailwindcss";

@theme {
  --color-bg-dark-color: #1f1f1f;
  --color-bg-light-color: #ededed;
  --color-button-default: #831fc1;
  --color-button-hover: #761cae;
  --color-button-selected: #69199a;
  --color-main-50: #f3e9f9;
  --color-main-100: #d9baec;
  --color-main-200: #c698e2;
  --color-main-300: #ac69d5;
  --color-main-400: #9c4ccd;
  --color-main-500: #831fc1;
  --color-main-600: #771cb0;
  --color-main-700: #5d1689;
  --color-main-800: #48116a;
  --color-main-900: #370d51;
  --color-dark-1: #eaeaea;
  --color-dark-2: #cccccc;
  --color-dark-3: #a3a3a3;
  --color-dark-4: #787878;
  --color-dark-5: #505050;
  --color-dark-6: #292929;
  --color-dark-7: #232323;
  --color-dark-8: #1d1d1d;
  --color-dark-9: #171717;
  --color-dark-10: #121212;
}
@theme inline {
  --font-yekan-bakh: var(--yekan-bakh);
}

@utility desktop-main-title {
  font-family: var(--yekan-bakh);
  font-weight: 800;
  font-size: 40px;
}
@utility desktop-heading1 {
  font-family: var(--yekan-bakh);
  font-weight: 700;
  font-size: 1.5rem;
}
@utility desktop-heading2 {
  font-family: var(--yekan-bakh);
  font-weight: 600;
  font-size: 1.25rem;
}
@utility desktop-heading3 {
  font-family: var(--yekan-bakh);
  font-weight: 600;
  font-size: 1rem;
}
/* buttons */

@utility button-primary {
  font-family: var(--yekan-bakh);
  font-weight: 700;
  font-size: 1.5rem;
}
@utility button-lg {
  font-family: var(--yekan-bakh);
  font-weight: 500;
  font-size: 1.125rem;
}
@utility button-md {
  font-family: var(--yekan-bakh);
  font-weight: 400;
  font-size: 1rem;
}
@utility button-sm {
  font-family: var(--yekan-bakh);
  font-weight: 300;
  font-size: 0.875rem;
}

@layer components {
  .icon-button {
    @apply text-4xl text-button-default hover:text-button-hover selection:bg-button-selected cursor-pointer transition-colors;
  }

  .header-menu_item {
    @apply hover:text-main-700 transition-colors flex items-center;
  }

  .dropdown-category_item {
    @apply flex flex-1 px-4 hover:bg-black/4 gap-2 items-center text-xl hover:text-main-500 cursor-pointer transition-colors;
  }

  .category-title_icon {
    @apply text-2xl;
  }
  .title-categories_container {
    @apply flex flex-col gap-2;
  }

  .title-category_heading {
    @apply pr-3 border-r-3 desktop-heading3 text-main-500;
  }

  .title-category_list {
    @apply flex flex-col gap-6;
  }

  .category-list_item {
    @apply hover:text-main-700 transition-colors;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
